[SddmGreeterTheme]
Name=angelOS
Description=angelOS login: the NGO stream that is "starting soon"
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-API=2.0
QtVersion=6
